[submodule "scripts/0vercl0k_scripts"]
	path = scripts/0vercl0k_scripts
	url = https://github.com/0vercl0k/windbg-scripts.git
[submodule "scripts/microsoft_samples"]
	path = scripts/microsoft_samples
	url = https://github.com/microsoft/WinDbg-Samples
